{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.15.0"
        },
        "modules": "commonjs",
        "useBuiltIns": true,
        "debug": false
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}